@charset "utf-8";

body{font-size: 1.2rem;}
#wrap{min-width: 320px;}

/* header */
header{
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: #fff;
  z-index: 99;
}
header .logo{position: absolute; top: 0; left: 16px;}
header .logo a{
  display: block;
  width: 58px;
  height: 40px;
  background: url(../img/pc_logo.png) no-repeat center / auto 40px;
  font-size: 0;
  color: transparent;
}
header .gnb{
  display: block;
  width: 150px;
  position: absolute; top: 40px; right: -150px;
  background-color: #0166cc;
  padding: 10px 0;
}
header .gnb a{
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  padding: 20px 0;
}
header .btn_box{position: absolute; top: 13px; right: 16px;}
header .btn_box button{
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 20px;
  font-size: 0;
  color: transparent;
  margin-left: 10px;
}
.mypage{background-image: url(../img/icon_mp_bk.png);}
.search{background-image: url(../img/icon_sc_bk.png);}
.menu{background-image: url(../img/icon_menu.png);}
.close{background-image: url(../img/close.png); display: none;}

header .btn_box button:hover.mypage{background-image: url(../img/icon_mp_bl.png);}
header .btn_box button:hover.search{background-image: url(../img/icon_sc_bl.png);}

/* #container 시작 */

#container_sub{padding-top: 40px;}

/* visual */
.visual_sub03{
  width: 100%; height: 150px;
  color: #fff; text-align: center;
  background: url(../img/sub_visual_recording.jpg) no-repeat center / cover;
  padding-top: 80px;
}
.visual_sub03 h2{
  display: inline-block;
  border: 2px solid #fff;
  font-size: 1.8rem;
  padding: 0 5px;
  margin-bottom: 5px;
}

/* content */
.content_sub{padding: 15px 16px 20px;}
.con_wrap_sub03{width: 100%; height: 800px;}
.con_wrap_sub03 .chart_box{height: 40px; margin-bottom: 10px;}
.con_wrap_sub03 .chart_box div{
  width: 50%; height: 40px;
  border: 1px solid #0166cc;
  background-repeat: no-repeat;
  background-position: 90% center;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 10px;
}
.con_wrap_sub03 .chart_box .filter{
  float: left;
  background-size: 18px auto;
  background-image: url(../img/icon_filter.png);
  cursor: pointer;
  transition: all 0.3s;
}
.con_wrap_sub03 .chart_box .list{
  float: right;
  background-size: 20px auto;
  background-image: url(../img/icon_next.png);
}

.con_wrap_sub03 .list_box{
  width: 100%; height: 735px; overflow: hidden;
}
.con_wrap_sub03 .list_box .list_box_wrap{
  width: 100%; height: 100%;
  position: relative;
}
.con_wrap_sub03 .list_box li{
  float: left;
  width: 50%; height: 245px;
  text-align: center;
}
.con_wrap_sub03 .list_box li h3{
  height: 32px;
  font-size: 1.2rem; margin-bottom: 5px;
}
.con_wrap_sub03 .list_box li p{font-size: 1.2rem;}
.con_wrap_sub03 .list_box li .img_box{
  width: 100%; height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px auto;
  margin-bottom: 10px;
}
.con_wrap_sub03 .list_box li .img01{background-image: url(../img/sub03_1.jpg);}
.con_wrap_sub03 .list_box li .img02{background-image: url(../img/sub03_2.jpg);}
.con_wrap_sub03 .list_box li .img03{background-image: url(../img/sub03_3.jpg);}
.con_wrap_sub03 .list_box li .img04{background-image: url(../img/sub03_4.jpg);}
.con_wrap_sub03 .list_box li .img05{background-image: url(../img/sub03_5.jpg);}
.con_wrap_sub03 .list_box li .img06{background-image: url(../img/sub03_6.jpg);}
.con_wrap_sub03 .list_box li .img07{background-image: url(../img/sub03_7.jpg);}
.con_wrap_sub03 .list_box li .img08{background-image: url(../img/sub03_8.jpg);}
.con_wrap_sub03 .list_box li .img09{background-image: url(../img/sub03_9.jpg);}

.con_wrap_sub03 .more{
  width: 70px; height: 25px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 29px;
  color: #fff;
  background-color: #0166cc;
  position: absolute; bottom: 0; left: 50%;
  transform: translateX(-50%);
}

.con_wrap_sub03 .chart_box .filter:hover{background-position: 95% center;}
.con_wrap_sub03 .list_box li:hover p{color: #0166cc;}

/* mobile_footer */
.footer_m{
  padding: 10px 16px 20px;
  background-color: #222;
  color: #bbb;
}
.footer_m .info01{
  width: 100%;
  height: 140px;
}
.footer_m .info01 div{
  width: 50%;
  text-align: center;
}

.footer_m .info01 div h5{
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.footer_m .cs{float: left;}
.footer_m .cs span{
  display: block;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 3px;
}
.footer_m .cs .last{margin: 5px 0 10px;}
.footer_m .bank .last{margin: 23px 0 10px;}
.footer_m .bank{float: right;}
.footer_m .info01 div button{
  width: 100px; height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px auto;
}
.footer_m .info01 .tel{background-image: url(../img/icon_tel.png);}
.footer_m .info01 .qa{background-image: url(../img/icon_q&a.png);}

.footer_m .sns{
  width: 100%; height: 25px;
  margin: 0 auto;
  position: relative;
  margin: 10px 0;
}
.footer_m .sns ul{
  position: absolute; top: 0; left: 50%;
  transform: translateX(-50%);
}
.footer_m .sns li{
  float: left;
  width: 22px; height: 22px;
  margin-right: 10px;
}
.footer_m .sns li:last-child{margin-right: 0;}
.footer_m .sns li a{
  display: block;
  width: 22px; height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px auto;
  font-size: 0;
  color: transparent;
}
.sns .fb{background-image: url(../img/icon_facebook.png);}
.sns .blog{background-image: url(../img/icon_blog.png);}
.sns .insta{background-image: url(../img/icon_instagram.png);}
.sns .yt{background-image: url(../img/icon_youtube.png);}

.footer_m .info02{
  text-align: center;
}

/* footer */
footer{display: none;}

/* tablet - 768이상 */
@media (min-width:768px){

  /* header */
  header{height: 80px;}
  header .logo{left: 32px;}
  header .logo a{width: 116px; height: 80px; background-size: auto 80px;}
  header .gnb{
    display: block;
    width: 200px;
    position: absolute; top: 80px; right: -200px;
    background-color: #0166cc;
    padding: 20px 0;
  }
  header .gnb a{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    padding: 20px 0;
  }
  header .btn_box{top: 30px; right: 32px;}
  header .btn_box button{
    width: 40px; height: 40px;
    background-size: auto 40px;
    margin-left: 20px;
    /* transform: scale(1); */
    transition: all 0.2s;
  }

  /* container 시작 */
  #container_sub{padding-top: 80px;}

  /* visual */
  .visual_sub03{
    height: 300px;
    padding-top: 175px;
  }
  .visual_sub03 h2{
    border: 3px solid #fff;
    font-size: 4.0rem;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .visual_sub03 p{font-size: 2.4rem;}

  /* content */
  .content_sub{padding: 20px 45px;}
  .con_wrap_sub03{height: 1140px; position: relative;}
  .con_wrap_sub03 .chart_box{height: 40px; margin-bottom: 30px;}

  .con_wrap_sub03 .chart_box .filter{
    width: 156px;
    border: none;
    font-size: 2.4rem;
    background-position: right center;
    background-size: 36px auto;
    padding: 0;
    border-bottom: 1px solid #bbb;
  }
  .con_wrap_sub03 .chart_box .list{
    width: 100px;
    line-height: 39px;
    color: #0166cc;
    background-position: 70px center;
  }

  .con_wrap_sub03 .list_box{width: 100%; height: 980px; padding-left: 156px;}
  .con_wrap_sub03 .list_box li{
    width: calc(100% / 3); height: 310px;
  }
  .con_wrap_sub03 .list_box li h3{
    height: 35px;
    font-size: 1.4rem; margin-bottom: 10px;
  }
  .con_wrap_sub03 .list_box li p{font-size: 1.4rem; color: #888;}
  .con_wrap_sub03 .list_box li .img_box{
    width: 100%; height: 200px;
    background-position: center;
    background-size: auto 200px;
    margin: 0 auto 20px;
  }
  .con_wrap_sub03 .more{
    width: 80px; height: 33px;
    line-height: 33px;
    font-size: 1.4rem;
  }

  /* mobile_footer */
  .footer_m{
    padding: 20px 32px 30px;
    background-color: #222;
    color: #bbb;
  }
  .footer_m .info01{
    height: 243px;
  }
  
  .footer_m .info01 div h5{
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
  .footer_m .cs span{
    font-size: 2.2rem;
    margin-bottom: 5px;
  }
  .footer_m .cs p{font-size: 2.2rem;}
  .footer_m .cs .last{margin: 10px 0 20px;}
  .footer_m .bank p{font-size: 2.2rem;}
  .footer_m .bank .last{margin: 43px 0 20px;}
  .footer_m .info01 div button{
    width: 200px; height: 55px;
    background-size: 200px auto;
  }
  .footer_m .sns{
    width: 100%; height: 44px;
    margin: 30px 0;
  }
  .footer_m .sns li{
    width: 44px; height: 44px;
    margin-right: 20px;
  }
  .footer_m .sns li a{
    width: 44px; height: 44px;
    background-size: 44px auto;
  }
  
  .footer_m .info02{
    font-size: 1.6rem;
    text-align: center;
  }
}

/* Pc - 1200 이상 */
@media (min-width:1200px){

  /* header */
  header .inner{position: relative;}
  .menu{display: none;}
  header .gnb{
    display: block;
    width: 580px;
    position: absolute; top: 0; right: 170px;
    background-color: #fff;
    padding: 0;
  }
  header .gnb a{
    float: left;
    display: block;
    width: calc(100% / 5);
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 2.0rem;
    font-weight: bold;
    transition: all 0.5s;
    color: #222;
    padding: 0;
  }
  header .gnb a:hover{color: #fff; background-color: #0166cc;}
  header .btn_box{top: 20px;}

  /* visual */
  .visual_sub03{
    height: 450px;
    padding-top: 295px;
  }
  .visual_sub03 h2{
    border: 3px solid #fff;
    font-size: 5.0rem;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .visual_sub03 p{font-size: 3.0rem;}

  /* content */
  .content_sub{padding: 40px 0;}
  .con_wrap_sub03{height: 1370px; position: relative;}
  .con_wrap_sub03 .chart_box{height: 55px; margin-bottom: 30px;}

  .con_wrap_sub03 .chart_box .filter{
    width: 260px;
    font-size: 3.0rem;
    background-position: right center;
  }
  .con_wrap_sub03 .chart_box .list{
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-size: 2.0rem;
    background-position: 100px center;
  }

  .con_wrap_sub03 .list_box{width: 100%; height: 1240px; padding-left: 260px;}
  .con_wrap_sub03 .list_box li{
    width: calc(100% / 3); height: 390px;
  }
  .con_wrap_sub03 .list_box li h3{
    height: 40px;
    font-size: 1.6rem; margin-bottom: 20px;
  }
  .con_wrap_sub03 .list_box li p{font-size: 1.6rem;}
  .con_wrap_sub03 .list_box li .img_box{
    width: 100%; height: 250px;
    background-position: center;
    background-size: auto 250px;
    margin: 0 auto 30px;
  }
  .con_wrap_sub03 .more{
    width: 120px; height: 50px;
    font-size: 2.4rem;
    line-height: 50px;
    transition: all 0.3s;
  }
  .con_wrap_sub03 .more:hover{
    background-color: #fff; color: #0166cc;
    border: 1px solid #0166cc;
  }

  /* mobile_footer */
  .footer_m{display: none;}

  /* footer */
  footer{
    display: block; padding: 40px; background-color: #222;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.8);
  }
  footer .info01{width: 100%; height: 155px; margin-bottom: 20px;}
  footer .info01 div{width: 25%; height: 155px; float: left;}
  footer .info01 h5{font-size: 1.8rem; color: #fff; margin-bottom: 20px;}
  footer .info01 p{font-size: 1.4rem; color: #bbb; margin-bottom: 10px;}
  .f1 span{display: block; color: #fff; font-size: 2.0rem; margin-bottom: 10px;}
  .f3 a{display: block; font-size: 1.4rem; color: #bbb; margin-bottom: 10px;}
  .f4 a{display: block; color: #fff; font-size: 2.0rem; margin-bottom: 10px;}
  footer .info02{width: 100%; height: 120px; text-align: center; color: #bbb;}
  footer .info02 h5{color: #fff; margin-bottom: 10px; text-transform: uppercase;}
  footer .info02 p{margin-bottom: 5px;}
  footer .info02 span{display: block; margin-top: 10px;}

  footer .info01 a{transition: all 0.3s;}
  footer .info01 a:hover{color: #fff; text-decoration: underline #0166cc solid 2px;} 
}